                99<nav class="index">
                    <ul class="l-nav-index">
                        <li class="li-nav-index index">
                            <a class="link-nav-index" href="http://www.bjorenda.com/index.php/Home/Homead/lst"><img src="__PUBLIC__/static/images/fg/navigation_06.png" alt=""/></a>
                            <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_06.png" />
                            <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_06.png" />
                        </li>
                        <li class="li-nav-index environment current">
                            <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_09.png" alt=""/></a>
                            <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_09.png" />
                            <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_09.png" />
                            <ul class="l-subnav-index">
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Jingbei/lst">京北无霾区</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Water/lst">优质水源地</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Scenery/lst">周边名胜景区</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Route/lst">度假线路</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                            </ul>
                        </li>
                        <li class="li-nav-index matching">
                            <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_11.png" alt=""/></a>
                            <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_11.png" />
                            <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_11.png" />
                            <ul class="l-subnav-index">
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Assort/tenno">天皇山</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Assort/shangjie">西镇商街</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Assort/church">西镇教堂</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Assort/pub">西镇酒店</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Assort/wine">梦得惜诺红酒会所</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Assort/hole">27洞红酒会所</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Assort/turf">奥伦达部落马场</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Assort/aviation">国内首批航空小镇</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                            </ul>
                        </li>
                        <li class="li-nav-index production">
                            <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_13.png" alt=""/></a>
                            <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_13.png" />
                            <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_13.png" />
                            <ul class="l-subnav-index">
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Product/dream">梦得惜诺</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Product/bifoli">原乡比弗利</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Product/zhuangyuan">奥伦达部落红酒庄园</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Product/yangfang">原乡洋房</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Product/card">奥伦达部落度假卡</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                            </ul>
                        </li>
                        <li class="li-nav-index about">
                            <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_15.png" alt=""/></a>
                            <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_15.png" />
                            <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_15.png" />
                            <ul class="l-subnav-index">
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/About/intro">部落简介</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/About/blessed">幸福聚落</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/About/activity">活动掠影</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                            </ul>
                        </li>
                        <li class="li-nav-index feed">
                            <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_17.png" alt=""/></a>
                            <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_17.png" />
                            <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_17.png" />
                            <ul class="l-subnav-index">
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Movement/herald">活动预告</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Movement/news">新闻动态</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                                <li class="li-subnav-index">
                                    <a class="link-subnav-index" href="__MODULE__/Movement/timelimit">产品工期</a>
                                    <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_21.png" alt=""/></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>