<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    <title>61微站</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/static/css/module.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/static/css/index.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="pro-header-index">
                <div class="mask-header-index"></div>
                <div class="box-header-index">
                    <div class="content-pro-index">
                        <span class="lbs-pro-index"><a class="link-lbs-index" href="">（地图定位）</a></span>
                        <div class="poster-pro-index"><img src="__PUBLIC__/static/images/poster-regis.jpg" alt=""/></div>
                        <h3 class="name-pro-index"><?php echo $info['username'];?></h3>
                        <h4 class="position-pro-index"><?php echo $info['position'];?></h4>
                        <dl class="dl-pro-index">
                            <dt class="dt-pro-index">公司：</dt>
                            <dd class="dd-pro-index"><?php echo $info['company'];?></dd>
                            <dt class="dt-pro-index">手机号：</dt>
                            <dd class="dd-pro-index"><?php echo $info['mobile'];?></dd>
                            <dt class="dt-pro-index">微信号：</dt>
                            <dd class="dd-pro-index"><?php echo $info['weixin'];?></dd>
                            <dt class="dt-pro-index">行业：</dt>
                            <dd class="dd-pro-index"><?php echo $info['business'];?></dd>
                            <dt class="dt-pro-index">邮箱：</dt>
                            <dd class="dd-pro-index"><?php echo $info['email'];?></dd>
                            <dt class="dt-pro-index">公司地址：</dt>
                            <dd class="dd-pro-index"><?php echo $info['address'];?></dd>
                        </dl>
                    </div>
                </div>
                <span class="bb-pro-index"></span>
                <div class="bg-pro-index"><img src="__PUBLIC__/static/images/bg-pro-big_02.jpg" alt=""/></div>
            </div>
        </div>
        <div class="main">
            <ul class="l-enter-function">
                <li class="li-enter-function">
                    <a href="__MODULE__/Member/lst"><span class="poster-enter-function"><img src="__PUBLIC__/static/images/cion-function_07.png" alt=""/></span></a>
                    <a href="__MODULE__/Member/lst"><h2 class="title-enter-function">微名片</h2></a>
                </li>
                <li class="li-enter-function">
                    <a href="__ROOT__/index.php/Test/Test/zan"><span class="poster-enter-function"><img src="__PUBLIC__/static/images/cion-function_09.png" alt=""/></span></a>
                    <h2 class="title-enter-function">精彩相册</h2>
                </li>
                <li class="li-enter-function">
                    <a href="__ROOT__/index.php/Company/Company/introco"><span class="poster-enter-function"><img src="__PUBLIC__/static/images/cion-function_11.png" alt=""/></span></a>
                        <a href="__ROOT__/index.php/Company/Company/introco"><h2 class="title-enter-function">公司简介</h2></a>
                </li>
                <li class="li-enter-function">
                    <a href="__ROOT__/index.php/Product/Product/lst"><span class="poster-enter-function"><img src="__PUBLIC__/static/images/cion-function_13.png" alt=""/></span></a>
                    <a href="__ROOT__/index.php/Product/Product/lst"><h2 class="title-enter-function">产品介绍</h2></a>
                </li>
                <li class="li-enter-function">
                    <span class="poster-enter-function"><img src="__PUBLIC__/static/images/cion-function_19.png" alt=""/></span>
                    <h2 class="title-enter-function">诚聘英才</h2>
                </li>
                <li class="li-enter-function">
                    <span class="poster-enter-function"><img src="__PUBLIC__/static/images/cion-function_20.png" alt=""/></span>
                    <h2 class="title-enter-function">活动报名</h2>
                </li>
                <li class="li-enter-function">
                    <a href="__ROOT__/index.php/News/Information/listnews"><span class="poster-enter-function"><img src="__PUBLIC__/static/images/cion-function_21.png" alt=""/></span></a>
                        <a href="__ROOT__/index.php/News/Information/listnews"><h2 class="title-enter-function">最新资讯</h2></a>
                </li>
                <li class="li-enter-function">
                    <a href="__MODULE__/Login/logout"> <span class="poster-enter-function"><img src="__PUBLIC__/static/images/cion-function_22.png" alt=""/></span></a>
                    <h2 class="title-enter-function">退出实用工具</h2>
                </li>
            </ul>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>