<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>奥伦达</title>
    <link rel="stylesheet" href="__PUBLIC__/static/css/base.css"/>
    <!--<link rel="stylesheet" href="__PUBLIC__/static/css/layout.css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/static/css/layoutjohn.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/module.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/dialog.css"/>
    <!--<link rel="stylesheet" href="__PUBLIC__/static/css/unit.css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/static/css/function.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/media.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/unitjohn.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/page.css"/>
    
    <link href="__PUBLIC__/static/plugins/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.11.1.min.js"></script>

</head>
<body class="body-index">
<div class="ald-pc">
<div class="container-index">
<img src="__PUBLIC__/static/images/fg/bg-feed.jpg" alt=""/>
<div class="box-content-index">
<header class="index">
    <h1 class="logo-index"><a href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/logo-index_03.png" alt=""/></a></h1>
    <div class="intro-hdr-index"><img src="__PUBLIC__/static/images/fg/intro-hdr-index_10.png" alt=""/></div>
</header>
<div class="content-index c">
<div class="bg-main-index">
    <img src="__PUBLIC__/static/images/fg/bg-main_03.png" alt=""/>
</div>
<div class="main-index">
    
      <h2 class="path">
                <a href="__MODULE__/Homead/lst" >首页</a>
                <span class="part-path">></span>              
                <a href="__MODULE__/Movement/news">社区动态</a>
               
                <span class="part-path">></span>
               
                <a href="__MODULE__/Movement/news">新闻动态</a>
                
                </h2>
    
    
    <div class="box-feed">
        <div class="mod-feed">
            <ul class="l-feed">
                
                                 <?php foreach($data as $k=>$v):?>
                
                <li class="li-feed">
                    <div class="content-feed-li">
                        <h3 class="title-feed"><a href="__CONTROLLER__/newsmore/id/<?php echo $v['id'];?>"><?php echo my_mb_substr($v['goods_title'],16);?></a></h3>
                        <span class="time-feed"><?php echo $v['addtime'];?></span>
                        <div class="box-intro-feed">
                            <span class="poster-feed"><a href="__CONTROLLER__/newsmore/id/<?php echo $v['id'];?>"><img src="<?php echo IMG_URL . $v['pic'];?>" alt=""/></a></span>
                            <p class="txt-feed"><a href="__CONTROLLER__/newsmore/id/<?php echo $v['id'];?>"><?php echo my_mb_substr($v['goods_desc'],26);?></a></p>
                            <a class="link-more-feed" href="__CONTROLLER__/newsmore/id/<?php echo $v['id'];?>">了解更多</a>
                        </div>
                    </div>
                </li>
                
                    <?php endforeach;?>
<!--                 <?php foreach($data as $k=>$v):?>
                
                <li class="li-feed">
                    <div class="content-feed-li">
                        <h3 class="title-feed"><a href="__CONTROLLER__/newsmore/id/<?php echo $v['id'];?>"><?php echo $v['goods_title'];?></a></h3>
                        <span class="time-feed"><?php echo $v['addtime'];?></span>
                        <div class="box-intro-feed">
                            <span class="poster-feed"><a href="__CONTROLLER__/newsmore/id/<?php echo $v['id'];?>"><img src="<?php echo IMG_URL . $v['pic'];?>" alt=""/></a></span>
                            <p class="txt-feed"><a href="__CONTROLLER__/newsmore/id/<?php echo $v['id'];?>"><?php echo $v['goods_desc'];?></a></p>
                            <a class="link-more-feed" href="__CONTROLLER__/newsmore/id/<?php echo $v['id'];?>">了解更多</a>
                        </div>
                    </div>
                </li>
                
                    <?php endforeach;?>-->
<!--                <li class="li-feed">
                    <div class="content-feed-li">
                        <h3 class="title-feed"><a href="javascript:void(0);">【部落新闻】我在奥伦达部落遇见你</a></h3>
                        <span class="time-feed">2014年12月16日</span>
                        <div class="box-intro-feed">
                            <span class="poster-feed"><img src="__PUBLIC__/static/images/fg/img-feed_07.jpg" alt=""/></span>
                            <p class="txt-feed">听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？</p>
                            <a class="link-more-feed" href="javascript:void(0);">了解更多</a>
                        </div>
                    </div>
                </li>
                <li class="li-feed">
                    <div class="content-feed-li">
                        <h3 class="title-feed"><a href="javascript:void(0);">【部落新闻】我在奥伦达部落遇见你</a></h3>
                        <span class="time-feed">2014年12月16日</span>
                        <div class="box-intro-feed">
                            <span class="poster-feed"><img src="__PUBLIC__/static/images/fg/img-feed_07.jpg" alt=""/></span>
                            <p class="txt-feed">听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？</p>
                            <a class="link-more-feed" href="javascript:void(0);">了解更多</a>
                        </div>
                    </div>
                </li>
                <li class="li-feed">
                    <div class="content-feed-li">
                        <h3 class="title-feed"><a href="javascript:void(0);">【部落新闻】我在奥伦达部落遇见你</a></h3>
                        <span class="time-feed">2014年12月16日</span>
                        <div class="box-intro-feed">
                            <span class="poster-feed"><img src="__PUBLIC__/static/images/fg/img-feed_07.jpg" alt=""/></span>
                            <p class="txt-feed">听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？</p>
                            <a class="link-more-feed" href="javascript:void(0);">了解更多</a>
                        </div>
                    </div>
                </li>
                <li class="li-feed">
                    <div class="content-feed-li">
                        <h3 class="title-feed"><a href="javascript:void(0);">【部落新闻】我在奥伦达部落遇见你</a></h3>
                        <span class="time-feed">2014年12月16日</span>
                        <div class="box-intro-feed">
                            <span class="poster-feed"><img src="__PUBLIC__/static/images/fg/img-feed_07.jpg" alt=""/></span>
                            <p class="txt-feed">听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？</p>
                            <a class="link-more-feed" href="javascript:void(0);">了解更多</a>
                        </div>
                    </div>
                </li>
                <li class="li-feed">
                    <div class="content-feed-li">
                        <h3 class="title-feed"><a href="javascript:void(0);">【部落新闻】我在奥伦达部落遇见你</a></h3>
                        <span class="time-feed">2014年12月16日</span>
                        <div class="box-intro-feed">
                            <span class="poster-feed"><img src="__PUBLIC__/static/images/fg/img-feed_07.jpg" alt=""/></span>
                            <p class="txt-feed">听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？</p>
                            <a class="link-more-feed" href="javascript:void(0);">了解更多</a>
                        </div>
                    </div>
                </li>-->
            </ul>
            <div class="pagination-feed">
                
                
                                
                <?php
                
                $page = str_replace("<div>","<div class='mod-page-feed'>",$page);
                ?>
                    <?php echo $page;?>
                    
<!--                <ul class="l-page-feed" style="text-decoration: none">
                    
                    <li class="first-page-feed">
                        <span class="img-long-page"><img src="__PUBLIC__/static/images/fg/btn-page_03.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);"><< 首页</a>
                    </li>
                    <li class="pre-page-feed">
                        <span class="img-dark-page"><img src="__PUBLIC__/static/images/fg/btn-page_05.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);"><<</a>
                    </li>
                    <li class="li-page-feed">
                        <span class="img-dark-page"><img src="__PUBLIC__/static/images/fg/btn-page_05.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);">1</a>
                    </li>
                    <li class="li-page-feed">
                        <span class="img-dark-page"><img src="__PUBLIC__/static/images/fg/btn-page_05.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);">2</a>
                    </li>
                    <li class="li-page-feed">
                        <span class="img-lighter-page"><img src="__PUBLIC__/static/images/fg/btn-page_07.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);">3</a>
                    </li>
                    <li class="li-page-feed">
                        <span class="img-lighter-page"><img src="__PUBLIC__/static/images/fg/btn-page_07.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);">4</a>
                    </li>
                    <li class="li-page-feed">
                        <span class="img-lighter-page"><img src="__PUBLIC__/static/images/fg/btn-page_07.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);">5</a>
                    </li>
                    <li class="next-page-feed">
                        <span class="img-lighter-page"><img src="__PUBLIC__/static/images/fg/btn-page_07.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);">>></a>
                    </li>
                    <li class="last-page-feed">
                        <span class="img-long-page"><img src="__PUBLIC__/static/images/fg/btn-page_03.png" alt=""/></span>
                        <a class="link-page-feed" href="javascript:void(0);">尾页 >></a>
                    </li>
                </ul>-->
            </div>
        </div>
        <img src="__PUBLIC__/static/images/fg/bg-ct-feed_03.png" alt=""/>
    </div>
</div>

    

<nav class="index">
                        <ul class="l-nav-index">
                            <li class="li-nav-index index">
                                <a class="link-nav-index" href="__MODULE__/Homead/lst"><img src="__PUBLIC__/static/images/fg/navigation_06.png" alt=""/></a>
                                <!--<input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_06.png" />-->
                                <!--<input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_06.png" />-->
                            </li>
                            <li class="li-nav-index environment ">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_09.png" alt=""/></a>
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_09.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_09.png" />
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Jingbei/lst">京北无霾区</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Water/lst">优质水源地</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Scenery/lst ">周边名胜景区</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Route/lst">度假线路</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-nav-index matching">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_11.png" alt=""/></a>
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_11.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_11.png" />
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/tenno">天皇山</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/street">西镇商街</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/church">西镇教堂</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/pub">西镇酒店</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/wine">梦得惜诺红酒会所</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/golf">27洞红酒会所</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/turf">奥伦达部落马场</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/aviation">国内首批航空小镇</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-nav-index production ">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_13.png" alt=""/></a>
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_13.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_13.png" />
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index ">
                                        <a class="link-subnav-index" href="__MODULE__/Product/dream">梦得惜诺</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/bifoli">原乡比弗利</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/manor">奥伦达部落红酒庄园</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/house">原乡洋房</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/card">奥伦达部落度假卡</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-nav-index about">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_15.png" alt=""/></a>
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_15.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_15.png" />
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/About/intro">部落简介</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/About/blessed">幸福聚落</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/About/activity">活动掠影</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-nav-index feed current">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation-hover_17.png" alt=""/></a>
								<!--
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_17.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_17.png" />
								-->
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index ">
                                        <a class="link-subnav-index" href="__MODULE__/Movement/herald">活动预告</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index current">
                                        <a class="link-subnav-index" href="__MODULE__/Movement/news">新闻动态</a>
										<span class="cur-subnav-index"><img alt="" src="/Public/static/images/fg/bg-nav_21.png"></span>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Movement/timelimit">产品工期</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>        
<div class="angle-main">
    <ul class="l-angle-main">
        <li class="li-angle-main traffic"><img src="__PUBLIC__/static/images/fg/bg-aside_10.png" alt="交通路线图"/></li>
        <li class="li-angle-main collection"><a rel="sidebar" href="javascript:void(0);" title="" onclick="addFavorite2()"><img src="__PUBLIC__/static/images/fg/bg-aside_17.png" alt="加入收藏"/></a></li>
        <li class="li-angle-main contact"><img src="__PUBLIC__/static/images/fg/bg-aside_22.png" alt="联系我们"/></li>
    </ul>
</div>
</div>
</div>
<span class="dec-pipe"><img src="__PUBLIC__/static/images/fg/pipe_03.png" alt=""/></span>
<span class="dec-car"><img src="__PUBLIC__/static/images/fg/dec-car_03.png" alt=""/></span>
<!--
<div class="paper-index">
    <img src="__PUBLIC__/static/images/fg/paper-feed_01.png" alt=""/>
-->
    <div id="footer">
        <span class="tcode-ft-index"><img src="__PUBLIC__/static/images/fg/tcode-ft_36.png" alt=""/></span>
        <div class="contact-ft-index"><img src="__PUBLIC__/static/images/fg/contact-ft_03.png" alt=""/></div>
        <p class="copyright c-red">京ICP备10048844号&nbsp;&nbsp;All&nbsp;rights&nbsp;reserved&nbsp;奥伦达部落 &nbsp;技术支持：<a target="_blank" href="http://www.61keji.com">六十一秒科技</a></p>
    </div>
<!--
</div>
-->
</div>
<script type="text/javascript">
    var staticPath;
</script>
<script type="text/javascript" src="__PUBLIC__/static/plugins/js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/plugins/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/plugins/js/jquery.mousewheel-3.0.6.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/plugins/js/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/public.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/init_pc.js"></script>

<!--<script type="text/javascript" src="__PUBLIC__/static/js/dec-animate.js"></script>-->
<script type="text/javascript" src="__PUBLIC__/static/js/dec-animate-john.js"></script>


<script type="text/javascript" src="__PUBLIC__/static/js/banner.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/navigation-pc.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/angle.js"></script>
<script type="text/javascript">
/*
    //feed text limit
    $('.txt-feed').each(function(){
        var txt=$(this).text(),
                txtLen=txt.length,
                subTxt;
        if( txtLen>=30 ){
            subTxt=txt.slice(0,29);
        }
        $(this).text(subTxt+'。。。。。。');
    });*/
    $(window).load(function() {
        //dec-animation
        decFeed();
        //set scroll
        $(".article-index").mCustomScrollbar();
    });
</script>
</div>
<div class="ald-mobile">
    <div class="wood-mobile"><img src="__PUBLIC__/static/images/mobile/wood-long.jpg" alt=""/></div>
    <div class="paper-mobile"><img src="__PUBLIC__/static/images/mobile/bg-ald_04.png" alt=""/></div>
    <header id="header" class="header-mobile">
        <h2 class="tip-header-mobile">
            <span class="txt-tip-mhdr"><img src="__PUBLIC__/static/images/mobile/txt-nav_07.png" alt=""/></span>
            <img src="__PUBLIC__/static/images/mobile/logo-bg_37.png" alt=""/>
        </h2>
        <nav id="navigation" class="nav-content-header">
            <ul class="l-nav-mhdr">
                <li class="li-nav-mhdr">
                    <img src="__PUBLIC__/static/images/mobile/bg-nav.png" alt=""/>
                    <a class="link-nav-mdhr" hvr-img="__PUBLIC__/static/images/mobile/caidan_112.png" href="">活动预告</a>
                </li>
                <li class="li-nav-mhdr">
                    <img src="__PUBLIC__/static/images/mobile/bg-nav.png" alt=""/>
                    <a class="link-nav-mdhr" hvr-img="__PUBLIC__/static/images/mobile/caidan_113.png" href="">新闻动态</a>
                </li>
                <li class="li-nav-mhdr">
                    <img src="__PUBLIC__/static/images/mobile/bg-nav.png" alt=""/>
                    <a class="link-nav-mdhr" hvr-img="__PUBLIC__/static/images/mobile/caidan_114.png" href="">产品工期</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content-mobile">
        <ul class="l-feed-mobile">
            <li class="li-feed-mobile">
                <div class="bg-li-fm"></div>
                <div class="cotent-li-fm c">
                    <h3 class="title-li-fm"><a href="javascript:void(0);">【部落新闻】我在奥伦达部落遇见你</a></h3>
                    <p class="time-li-fm">2014年12月16日</p>
                    <div class="mian-li-fm">
                        <a class="more-li-fm" href="javascript:void(0);">了解更多</a>
                        <span class="poster-li-fm"><img src="__PUBLIC__/static/images/mobile/img-feed_03.jpg" alt=""/></span>
                        <p class="intro-li-fm">听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？</p>
                    </div>
                </div>
            </li>
            <li class="li-feed-mobile">
                <div class="bg-li-fm"></div>
                <div class="cotent-li-fm c">
                    <h3 class="title-li-fm"><a href="javascript:void(0);">【部落新闻】我在奥伦达部落遇见你</a></h3>
                    <p class="time-li-fm">2014年12月16日</p>
                    <div class="mian-li-fm">
                        <a class="more-li-fm" href="javascript:void(0);">了解更多</a>
                        <span class="poster-li-fm"><img src="__PUBLIC__/static/images/mobile/img-feed_03.jpg" alt=""/></span>
                        <p class="intro-li-fm">听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？</p>
                    </div>
                </div>
            </li>
            <li class="li-feed-mobile">
                <div class="bg-li-fm"></div>
                <div class="cotent-li-fm c">
                    <h3 class="title-li-fm"><a href="javascript:void(0);">【部落新闻】我在奥伦达部落遇见你</a></h3>
                    <p class="time-li-fm">2014年12月16日</p>
                    <div class="mian-li-fm">
                        <a class="more-li-fm" href="javascript:void(0);">了解更多</a>
                        <span class="poster-li-fm"><img src="__PUBLIC__/static/images/mobile/img-feed_03.jpg" alt=""/></span>
                        <p class="intro-li-fm">听说过奥伦达部落，在微信上关注了奥伦达部落，您是否到来过？</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pagenation-feed-mobile">
            <ul class="l-page-fm">
                <li class="first-page-fm"><a class="link-page-fm" href="javascript:void(0);"><<首页</a></li>
                <li class="li-page-fm"><a class="link-page-fm" href="javascript:void(0);"><<</a></li>
                <li class="li-page-fm"><a class="link-page-fm" href="javascript:void(0);">1</a></li>
                <li class="li-page-fm"><a class="link-page-fm" href="javascript:void(0);">2</a></li>
                <li class="li-page-fm"><a class="link-page-fm" href="javascript:void(0);">3</a></li>
                <li class="li-page-fm"><a class="link-page-fm" href="javascript:void(0);">4</a></li>
                <li class="li-page-fm"><a class="link-page-fm" href="javascript:void(0);">>></a></li>
                <li class="last-page-fm"><a class="link-page-fm" href="javascript:void(0);">尾页>></a></li>
            </ul>
        </div>
    </div>
    <div class="mod-contact-mobile">
        <div class="bd-contact-mobile">
            <span class="img-contact-mobile"><img src="__PUBLIC__/static/images/mobile/img-contact_04.png" alt=""/></span>
            <p class="txt-contact-mobile">接待中心：北京市西城区北三环双秀公园内</br>京备666号&nbsp;&nbsp;2014&nbsp;&nbsp;奥伦达部落&nbsp;All&nbsp;rights&nbsp;reserved </p>
            <section class="weixin-contact-mobile">
                <h4 class="title-wx-cm">扫一扫&nbsp;立即关注！</h4>
                <span class="tcode-wx-cm"><img src="__PUBLIC__/static/images/mobile/tcode_27.jpg" alt=""/></span>
            </section>
        </div>
    </div>
    <footer class="footer-mobile">
        <div class="box-ft-mobile">
            <img src="__PUBLIC__/static/images/mobile/footer-bg-content_02.png" alt=""/>
            <ul class="l-nav-ftmoble">
                <li class="li-nav-ftmoble ml">
                    <a class="link-nav-ftmoble" href="javascript:void(0);">
                        <span class="icon-nav-ftmoble"><img src="__PUBLIC__/static/images/mobile/icon-ft-mobile_03.png" alt=""/></span>
                        <span class="txt-nav-ftmoble">首&nbsp;&nbsp;页</span>
                    </a>
                </li>
                <li class="center-nav-ftmoble js-d-map"><img src="__PUBLIC__/static/images/mobile/title-ft-mobile_03.png" alt=""/></li>
                <li class="li-nav-ftmoble mr js-d-contact">
                    <span class="icon-nav-ftmoble"><img src="__PUBLIC__/static/images/mobile/icon-ft-mobile_05.png" alt=""/></span>
                    <span class="txt-nav-ftmoble">联系我们</span>
                </li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="__PUBLIC__/static/js/mobile/init-mobile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/mobile/dialog-mobile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/mobile/navigation-mobile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/mobile/banner-mobile.js"></script>
</div>
<script type="text/javascript" src="__PUBLIC__/static/js/mediaScreen.js"></script>
</body>
</html>