<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>奥伦达</title>
    <link rel="stylesheet" href="__PUBLIC__/static/css/base.css"/>
    <!--<link rel="stylesheet" href="__PUBLIC__/static/css/layout.css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/static/css/layoutjohn.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/module.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/dialog.css"/>
    <!--<link rel="stylesheet" href="__PUBLIC__/static/css/unit.css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/static/css/function.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/media.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/unitjohn.css"/>
    
    <link href="__PUBLIC__/static/plugins/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.11.1.min.js"></script>

</head>
<body class="body-index">
<div class="ald-pc">
<div class="container-index">
<img src="__PUBLIC__/static/images/fg/bg-endx.jpg" alt=""/>
<div class="box-content-index">
    <header class="index">
        <h1 class="logo-index"><a href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/logo-index_03.png" alt=""/></a></h1>
        <div class="intro-hdr-index"><img src="__PUBLIC__/static/images/fg/intro-hdr-index_10.png" alt=""/></div>
    </header>
    <div class="content-index c">
        <div class="bg-main-index">
            <img src="__PUBLIC__/static/images/fg/bg-main_03.png" alt=""/>
        </div>
        <div class="main-index">
            <!--<a href="__MODULE__/Homead/lst"><h2 class="path">首页</h2></a><a href="__MODULE__/Homead/lst"><h2 class="path">度假环境</h2></a>-->
            <h2 class="path">
					<a href="__MODULE__/Homead/lst" >首页</a>
					<span class="part-path">></span>              
					<a href="__MODULE__/Water/lst">度假环境</a>
					<span class="part-path">></span>
					<a href="__MODULE__/Water/lst">优质水源地</a>
                </h2>
            <!--<span class="part-path">></span>度假环境<span class="part-path">></span><a href="__MODULE__/Jingbei/lst">京北无霾区</a>-->
            <div class="box-banner">
                <img src="__PUBLIC__/static/images/fg/bg-banner_10.png" alt=""/>
                <div class="banner-single">
                    <div class="center-banner-single">
                        <ul class="l-banner-single">
                            
                            
     <?php foreach($data as $k=>$v):?>
            <?php if($k == 0){ 
            $class = 'class="li-banner-single "';
             }else{
           $class = 'class="li-banner-single none"';
            }
                                  
         ?>    
                            
                            <li <?php echo $class;?>><img src="<?php echo IMG_URL . $v['pic'];?>" alt=""/></li>
<!--                            <li class="li-banner-single none"><img src="__PUBLIC__/static/images/fg/img-mutiple_03.jpg" alt=""/></li>
                            <li class="li-banner-single none"><img src="__PUBLIC__/static/images/fg/img-mutiple_03.jpg" alt=""/></li>
                            <li class="li-banner-single none"><img src="__PUBLIC__/static/images/fg/img-mutiple_03.jpg" alt=""/></li>
                            <li class="li-banner-single none"><img src="__PUBLIC__/static/images/fg/img-mutiple_03.jpg" alt=""/></li>
                            <li class="li-banner-single none"><img src="__PUBLIC__/static/images/fg/img-mutiple_03.jpg" alt=""/></li>
                            <li class="li-banner-single none"><img src="__PUBLIC__/static/images/fg/img-mutiple_03.jpg" alt=""/></li>
                            <li class="li-banner-single none"><img src="__PUBLIC__/static/images/fg/img-mutiple_03.jpg" alt=""/></li>-->

  <?php endforeach;?>   
                        </ul>
                        <ul class="l-btn-banner">
                            <li class="li-btn-banner up">
                                <img alt="" src="__PUBLIC__/static/images/fg/arrow-banner_03.png" />
                            </li>
                            <li class="li-btn-banner down">
                                <img alt="" src="__PUBLIC__/static/images/fg/arrow-banner_05.png" />
                            </li>
                        </ul>
                        <ul class="l-dotted-single">
          <?php foreach($data as $k=>$v):?>   
            <?php if($k == 0){ 
            $dottedimg = '__PUBLIC__/static/images/fg/btn-dotted_05.png';            
             }else{
           $dottedimg  ='__PUBLIC__/static/images/fg/btn-dotted_03.png';
            }
                                  
         ?>                              
                            
                            
                            
                            <li class="li-dotted-single"><img src="<?php echo $dottedimg;?>" alt=""/></li>
<!--                            <li class="li-dotted-single"><img src="__PUBLIC__/static/images/fg/btn-dotted_03.png" alt=""/></li>
                            <li class="li-dotted-single"><img src="__PUBLIC__/static/images/fg/btn-dotted_03.png" alt=""/></li>
                            <li class="li-dotted-single"><img src="__PUBLIC__/static/images/fg/btn-dotted_03.png" alt=""/></li>
                            <li class="li-dotted-single"><img src="__PUBLIC__/static/images/fg/btn-dotted_03.png" alt=""/></li>
                            <li class="li-dotted-single"><img src="__PUBLIC__/static/images/fg/btn-dotted_03.png" alt=""/></li>
                            <li class="li-dotted-single"><img src="__PUBLIC__/static/images/fg/btn-dotted_03.png" alt=""/></li>
                            <li class="li-dotted-single"><img src="__PUBLIC__/static/images/fg/btn-dotted_03.png" alt=""/></li>-->


<?php endforeach;?>    
                        </ul>
                        <span class="magnifier-banner"><img src="__PUBLIC__/static/images/fg/magnifier_03.png" alt=""/></span>
                    </div>
                </div>
            </div>
            <div class="mod-txt-index">
                <span class="hr-txt-index"><img src="__PUBLIC__/static/images/fg/hr_43.png" alt=""/></span>
                
                
     <?php foreach($data as $k=>$v):?>
            <?php if($k == 0){ 
            $class = 'class="article-index"';
             }else{
           $class = 'class="article-index none"';
            }
                                  
         ?>                     
                
         <div <?php echo $class;?>>
                    <h3 class="title-article-index"><?php echo $v[goods_title];?></h3>
                    <p class="txt-article-index"><?php echo $v[goods_desc];?></p>
                </div>
                
<?php endforeach;?>                 
                
                
<!--                <div class="article-index none">
                    <h3 class="title-article-index">龙庆峡2</h3>
                    <p class="txt-article-index">5平方公里的天皇山景区作为项目的后花园，成为业主的私家山。山上群峰环绕，怪石嶙峋，草木葱郁，潭溪瀑布众多，常年水流不断。</p>
                </div>
                <div class="article-index none">
                    <h3 class="title-article-index">龙庆峡3</h3>
                    <p class="txt-article-index">5平方公里的天皇山景区作为项目的后花园，成为业主的私家山。山上群峰环绕，怪石嶙峋，草木葱郁，潭溪瀑布众多，常年水流不断。</p>
                </div>
                <div class="article-index none">
                    <h3 class="title-article-index">龙庆峡4</h3>
                    <p class="txt-article-index">5平方公里的天皇山景区作为项目的后花园，成为业主的私家山。山上群峰环绕，怪石嶙峋，草木葱郁，潭溪瀑布众多，常年水流不断。</p>
                </div>
                <div class="article-index none">
                    <h3 class="title-article-index">龙庆峡5</h3>
                    <p class="txt-article-index">5平方公里的天皇山景区作为项目的后花园，成为业主的私家山。山上群峰环绕，怪石嶙峋，草木葱郁，潭溪瀑布众多，常年水流不断。</p>
                </div>
                <div class="article-index none">
                    <h3 class="title-article-index">龙庆峡6</h3>
                    <p class="txt-article-index">5平方公里的天皇山景区作为项目的后花园，成为业主的私家山。山上群峰环绕，怪石嶙峋，草木葱郁，潭溪瀑布众多，常年水流不断。</p>
                </div>
                <div class="article-index none">
                    <h3 class="title-article-index">龙庆峡7</h3>
                    <p class="txt-article-index">5平方公里的天皇山景区作为项目的后花园，成为业主的私家山。山上群峰环绕，怪石嶙峋，草木葱郁，潭溪瀑布众多，常年水流不断。</p>
                </div>
                <div class="article-index none">
                    <h3 class="title-article-index">龙庆峡8</h3>
                    <p class="txt-article-index">5平方公里的天皇山景区作为项目的后花园，成为业主的私家山。山上群峰环绕，怪石嶙峋，草木葱郁，潭溪瀑布众多，常年水流不断。</p>
                </div>-->
                
                
            </div>
        </div>
                            <nav class="index">
                        <ul class="l-nav-index">
                            <li class="li-nav-index index">
                                <a class="link-nav-index" href="__MODULE__/Homead/lst"><img src="__PUBLIC__/static/images/fg/navigation_06.png" alt=""/></a>
                                <!--<input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_06.png" />-->
                                <!--<input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_06.png" />-->
                            </li>
                            <li class="li-nav-index environment current">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation-hover_09.png" alt=""/></a>
								<!--
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_09.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_09.png" />
								-->
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index ">
                                        <a class="link-subnav-index" href="__MODULE__/Jingbei/lst">京北无霾区</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index current">
                                        <a class="link-subnav-index" href="__MODULE__/Water/lst">优质水源地</a>
										<span class="cur-subnav-index"><img alt="" src="/Public/static/images/fg/bg-nav_21.png"></span>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Scenery/lst ">周边名胜景区</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Route/lst">度假线路</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-nav-index matching">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_11.png" alt=""/></a>
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_11.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_11.png" />
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/tenno">天皇山</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/street">西镇商街</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/church">西镇教堂</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/pub">西镇酒店</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/wine">梦得惜诺红酒会所</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/golf">27洞红酒会所</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/turf">奥伦达部落马场</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Assort/aviation">国内首批航空小镇</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-nav-index production">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_13.png" alt=""/></a>
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_13.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_13.png" />
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/dream">梦得惜诺</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/bifoli">原乡比弗利</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/manor">奥伦达部落红酒庄园</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/house">原乡洋房</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Product/card">奥伦达部落度假卡</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-nav-index about">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_15.png" alt=""/></a>
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_15.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_15.png" />
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/About/intro">部落简介</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/About/blessed">幸福聚落</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/About/activity">活动掠影</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-nav-index feed">
                                <a class="link-nav-index" href="javascript:void(0);"><img src="__PUBLIC__/static/images/fg/navigation_17.png" alt=""/></a>
                                <input class="dft-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation_17.png" />
                                <input class="hvr-src" type="hidden" value="__PUBLIC__/static/images/fg/navigation-hover_17.png" />
                                <ul class="l-subnav-index">
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Movement/herald">活动预告</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Movement/news">新闻动态</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                    <li class="li-subnav-index">
                                        <a class="link-subnav-index" href="__MODULE__/Movement/timelimit">产品工期</a>
                                        <span class="img-subnav-index"><img src="__PUBLIC__/static/images/fg/bg-nav_07.png" alt=""/></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
        <div class="angle-main">
            <ul class="l-angle-main">
                <li class="li-angle-main traffic"><img src="__PUBLIC__/static/images/fg/bg-aside_10.png" alt="交通路线图"/></li>
                <li class="li-angle-main collection"><a rel="sidebar" href="javascript:void(0);" title="" onclick="addFavorite2()"><img src="__PUBLIC__/static/images/fg/bg-aside_17.png" alt="加入收藏"/></a></li>
                <li class="li-angle-main contact"><img src="__PUBLIC__/static/images/fg/bg-aside_22.png" alt="联系我们"/></li>
            </ul>
        </div>
    </div>
</div>

<span class="dec-shoes"><img src="__PUBLIC__/static/images/fg/shoes_02.png" alt=""/></span>
<span class="dec-compass"><img src="__PUBLIC__/static/images/fg/compass_05.png" alt=""/></span>
<span class="dec-map"><img src="__PUBLIC__/static/images/fg/map_40.png" alt=""/></span>
<div class="mod-light c">
    <span class="trigger-light"></span>
    <span class="dec-lighter c"><img src="__PUBLIC__/static/images/fg/light_03.png" alt=""/></span>
    <span class="dec-light c"><img src="__PUBLIC__/static/images/fg/hover-light_03.png" alt=""/></span>
</div>

<!--
<div class="paper-index">
    <img src="__PUBLIC__/static/images/fg/paper-product_01.png" alt=""/>
-->
    <div id="footer">
        <span class="tcode-ft-index"><img src="__PUBLIC__/static/images/fg/tcode-ft_36.png" alt=""/></span>
        <div class="contact-ft-index"><img src="__PUBLIC__/static/images/fg/contact-ft_36.png" alt=""/></div>
        <p class="copyright">京ICP备10048844号&nbsp;&nbsp;All&nbsp;rights&nbsp;reserved&nbsp;奥伦达部落 &nbsp;技术支持：<a target="_blank" href="http://www.61keji.com">六十一秒科技</a></p>
    </div>
<!--
</div>
-->
</div>
<script type="text/javascript">
    //这里设置static前的路径
    var staticPath;
</script>
<script type="text/javascript" src="__PUBLIC__/static/plugins/js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/plugins/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/plugins/js/jquery.mousewheel-3.0.6.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/plugins/js/jquery.mCustomScrollbar.min.js"></script>
<!--公用js-->
<script type="text/javascript" src="__PUBLIC__/static/js/public.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/init_pc.js"></script>
<!--周边动画-->
<!--<script type="text/javascript" src="static/js/dec-animate.js"></script>-->
<script type="text/javascript" src="__PUBLIC__/static/js/dec-animate-john.js"></script>
<!--banner动画-->
<script type="text/javascript" src="__PUBLIC__/static/js/banner.js"></script>
<!--导航js-->
<script type="text/javascript" src="__PUBLIC__/static/js/navigation-pc.js"></script>
<!--主体角标js-->
<script type="text/javascript" src="__PUBLIC__/static/js/angle.js"></script>
<!--scroll 加载 ；动画加载-->
<script type="text/javascript">
    (function($){
        $(window).load(function(){
            //dec-animation
			decIndex();
            //set scroll
            $(".article-index").mCustomScrollbar();
        });
    })(jQuery);
</script>
</div>
<div class="ald-mobile">
    <div class="wood-mobile"><img src="__PUBLIC__/static/images/mobile/wood-long.jpg" alt=""/></div>
    <div class="paper-mobile"><img src="__PUBLIC__/static/images/mobile/bg-ald_03.png" alt=""/></div>
    <header id="header" class="header-mobile">
        <h2 class="tip-header-mobile">
            <span class="txt-tip-mhdr"><img src="__PUBLIC__/static/images/mobile/txt-nav_03.png" alt=""/></span>
            <img src="__PUBLIC__/static/images/mobile/logo-bg_37.png" alt=""/>
        </h2>
        <nav id="navigation" class="nav-content-header">
            <ul class="l-nav-mhdr">
                <li class="li-nav-mhdr">
                    <img src="__PUBLIC__/static/images/mobile/bg-nav.png" alt=""/>
                    <a class="link-nav-mdhr" hvr-img="__PUBLIC__/static/images/mobile/caidan_32.png" href="">京北无霾区</a>
                </li>
                <li class="li-nav-mhdr">
                    <img src="__PUBLIC__/static/images/mobile/bg-nav.png" alt=""/>
                    <a class="link-nav-mdhr" hvr-img="__PUBLIC__/static/images/mobile/caidan_33.png" href="">优质水源地</a>
                </li>
                <li class="li-nav-mhdr">
                    <img src="__PUBLIC__/static/images/mobile/bg-nav.png" alt=""/>
                    <a class="link-nav-mdhr" hvr-img="__PUBLIC__/static/images/mobile/caidan_34.png" href="">周边名胜景区</a>
                </li>
                <li class="li-nav-mhdr">
                    <img src="__PUBLIC__/static/images/mobile/bg-nav.png" alt=""/>
                    <a class="link-nav-mdhr" hvr-img="__PUBLIC__/static/images/mobile/caidan_35.png" href="">度假路线</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content-mobile">
        <div id="banner" class="banner-mobile">
            <ul class="l-banner-mobile">
                <li class="li-banner-mobile">1<img src="__PUBLIC__/static/images/mobile/img-banner-s_07.jpg" alt=""/></li>
                <li class="li-banner-mobile none">2<img src="__PUBLIC__/static/images/mobile/img-banner-s_07.jpg" alt=""/></li>
                <li class="li-banner-mobile none">3<img src="__PUBLIC__/static/images/mobile/img-banner-s_07.jpg" alt=""/></li>
                <li class="li-banner-mobile none">4<img src="__PUBLIC__/static/images/mobile/img-banner-s_07.jpg" alt=""/></li>
                <li class="li-banner-mobile none">5<img src="__PUBLIC__/static/images/mobile/img-banner-s_07.jpg" alt=""/></li>
                <li class="li-banner-mobile none">6<img src="__PUBLIC__/static/images/mobile/img-banner-s_07.jpg" alt=""/></li>
            </ul>
            <ul class="l-btn-mbnr">
                <li class="li-btn-mbnr left"><img src="__PUBLIC__/static/images/mobile/btn-banner_07.png" alt=""/></li>
                <li class="li-btn-mbnr right"><img src="__PUBLIC__/static/images/mobile/btn-banner_09.png" alt=""/></li>
            </ul>
            <ul class="l-dotted-mbnr" org-img="__PUBLIC__/static/images/mobile/dotted-banner_20.png" tar-img="__PUBLIC__/static/images/mobile/dotted-banner_22.png">
                <li class="li-dotted-mbnr"><img src="__PUBLIC__/static/images/mobile/dotted-banner_22.png" alt=""/></li>
                <li class="li-dotted-mbnr"><img src="__PUBLIC__/static/images/mobile/dotted-banner_20.png" alt=""/></li>
                <li class="li-dotted-mbnr"><img src="__PUBLIC__/static/images/mobile/dotted-banner_20.png" alt=""/></li>
                <li class="li-dotted-mbnr"><img src="__PUBLIC__/static/images/mobile/dotted-banner_20.png" alt=""/></li>
                <li class="li-dotted-mbnr"><img src="__PUBLIC__/static/images/mobile/dotted-banner_20.png" alt=""/></li>
                <li class="li-dotted-mbnr"><img src="__PUBLIC__/static/images/mobile/dotted-banner_20.png" alt=""/></li>
            </ul>
        </div>
        <section class="mod-txt-mobile mt_p2">
            <h2 class="title-txt-mobile">京北无霾区</h2>
            <p class="text-txt-mobile">龙庆峡距离原乡约11公里，既有北南方山水的秀丽，又不失北方山水的雄健。乘船游览龙庆峡14华里的水面，眼前仿佛徐徐展开了一幅山水画卷，翠屏开野，山环水复，钟山、凤冠岛、月亮湾、鹊桥石等三十余处景观一一呈现。目前还增设了蹦极、飞降、比翼滑道等刺激而又安全的游乐项目，更修建有长258米，被誉为亚洲第一龙的腾龙电梯和465米的登山缆车，更加方便游客的游览。</p>
            <address class="adres-txt-mobile">电话：69191020；69191034</address>
            <address class="adres-txt-mobile">地址：位于北京市延庆县城东北10公里的古城村西北的古城河口，距北京城区85公里。</address>
        </section>
    </div>
    <div class="mod-contact-mobile">
        <div class="bd-contact-mobile">
            <span class="img-contact-mobile"><img src="__PUBLIC__/static/images/mobile/img-contact_04.png" alt=""/></span>
            <p class="txt-contact-mobile">接待中心：北京市西城区北三环双秀公园内</br>京备666号&nbsp;&nbsp;奥伦达部落&nbsp;All&nbsp;rights&nbsp;reserved </p>
            <section class="weixin-contact-mobile">
                <h4 class="title-wx-cm">扫一扫&nbsp;立即关注！</h4>
                <span class="tcode-wx-cm"><img src="__PUBLIC__/static/images/mobile/tcode_27.jpg" alt=""/></span>
            </section>
        </div>
    </div>
    <footer class="footer-mobile">
        <div class="box-ft-mobile">
            <img src="__PUBLIC__/static/images/mobile/footer-bg-content_02.png" alt=""/>
            <ul class="l-nav-ftmoble">
                <li class="li-nav-ftmoble ml">
                    <a class="link-nav-ftmoble" href="javascript:void(0);">
                        <span class="icon-nav-ftmoble"><img src="__PUBLIC__/static/images/mobile/icon-ft-mobile_03.png" alt=""/></span>
                        <span class="txt-nav-ftmoble">首&nbsp;&nbsp;页</span>
                    </a>
                </li>
                <li class="center-nav-ftmoble js-d-map"><img src="__PUBLIC__/static/images/mobile/title-ft-mobile_03.png" alt=""/></li>
                <li class="li-nav-ftmoble mr js-d-contact">
                    <span class="icon-nav-ftmoble"><img src="__PUBLIC__/static/images/mobile/icon-ft-mobile_05.png" alt=""/></span>
                    <span class="txt-nav-ftmoble">联系我们</span>
                </li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="__PUBLIC__/static/js/mobile/init-mobile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/mobile/dialog-mobile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/mobile/navigation-mobile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/mobile/banner-mobile.js"></script>
</div>
<script type="text/javascript" src="__PUBLIC__/static/js/mediaScreen.js"></script>
</body>
</html>